In [1]:
import pandas as pd
import glob, os
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))
all_df = df.drop(['Unnamed: 0'], axis=1).reset_index(drop=True)

In [2]:
all_df.head()

,Set,MSE,MAE,RMSE,R2,MAPE,MAX_ERROR,EXP_VAR_SCORE
0,test,31.284474,3.662088,5.593253,0.806533,0.151547,46.690492,0.831314
1,train,29.428738,3.519136,5.424826,0.873054,0.143724,69.707840,0.877189
2,test,25.522630,3.328974,5.051993,0.872768,0.173782,52.325000,0.872782
3,train,28.526360,3.554938,5.341007,0.895349,0.149712,68.165452,0.897296
4,test,23.180742,3.139926,4.814638,0.888533,0.141210,46.238622,0.892471

In [3]:
all_df.to_csv("all_results.csv")